In [1]:
import pandas as pd

In [4]:
data = {
    'fulano': [3, 2, 0, 1],
    'ciclano': [0, 3, 7, 2]
}

tabela = pd.DataFrame(data)
tabela

   fulano  ciclano
0       3        0
1       2        3
2       0        7
3       1        2